h1 {
  color: #0F0F4A;
  text-align: center;
  margin-top: 2%;
}

h2 {
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  font-size: 14px;
  color: #0f0f4a;
  text-align: center;
  padding: 20px;
  border: 2px solid #fff;
}

h2+h2 {
  margin-top: 0;
}

.dirInput {
  width: 80%;
  margin: 5% 10%;
  padding: 20px 15px;
}

.submitBtn {
  background-color: #0f0f4a;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin: 0 45%;
}

.submitBtn:hover {
  color: #0f0f4a;
  background-color: #fff;
}
